@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Oxygen", sans-serif;
}
html {
  scroll-behavior: smooth;
  scroll-padding: 5em;
  overflow-x: hidden;
}
body {
  background-color: #dfdfdf;
}
::-webkit-scrollbar {
  display: none;
}
/* LOADING PAGE */
.loader {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  position: fixed;
  z-index: 3;
}
.spinyspin {
  width: 100px;
  height: 100px;
  background-color: #000;
  border: 10px solid #bdbdbd;
  border-top-color: #21c6f0;
  border-radius: 50%;
  animation: spinyAni linear 1s infinite;
}
@keyframes spinyAni {
  0% {
    transform: rotate(360deg);
  }
}

/* NAVIGATION */
.nav-text-scrolled ul li a{
  color: #000;
  font-size: 16px;
}
nav {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  z-index: 2;
  position: fixed;
  transition: 0.5s;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
  transition: 0.5s;
}
nav ul li a {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  transition: 0.2s;
}
nav ul li a:hover {
  color: #00dbd3;
}
/* Content */
.content {
  padding-top: 10vh;
}
.text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 30vh;
}
.text ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  height: 20vh;
  width: 20vw;
}
.list{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Okuloncesi  */
.okuloncesi {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 80vh;
}
.okuloncesi .frame {
  overflow: hidden;
  border-radius: 50%;
  width: 25vw;
  height: 25vw;
}
.okuloncesi img {
  height: 25vw;
  position: relative;
  top: 0;
  left: -10vw;
}
/* Ilkokul */
.ilk {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row-reverse;
  width: 100vw;
  height: 80vh;
}
.ilk .frame {
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  overflow: hidden;
}
.ilk img {
  width: 40vw;
  position: relative;
  top: -1vw;
  left: -8vw;
}
/* Ortaokul */
.orta {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 80vh;
}
.orta .frame {
  overflow: hidden;
  border-radius: 50%;
  width: 25vw;
  height: 25vw;
}
.orta img {
  width: 40vw;
  position: relative;
  top: -1vw;
  left: -8vw;
}
/* Lise */
.lise {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row-reverse;
  width: 100vw;
  height: 80vh;
}
.lise .frame {
  overflow: hidden;
  border-radius: 50%;
  width: 25vw;
  height: 25vw;
}
.lise img {
  width: 40vw;
  position: relative;
  top: -1vw;
  left: -8vw;
}
/* FOOTER */
footer {
  height: 40vh;
  background-color: #232733;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 4em 0 0 0;
  font-size: 14px;
  font-weight: 700;
}
footer li {
  color: #a8a8a8;
}
footer a {
  color: #a8a8a8;
}
footer h1 {
  color: #fff;
  font-size: 36px;
  margin-bottom: 0.5em;
}
.izroak {
  max-width: 20vw;
  text-align: left;
}
.pages {
  max-width: 20vw;
  text-align: left;
}
.contact {
  max-width: 20vw;
  text-align: left;
}

